body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.main-header {
  background-color: #eeeeee;
  
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.menu-block {
  display: flex;
  justify-content: space-between;
  width: 440px;
  list-style: none;
  padding: 0;
}

.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.basket {
  position: relative;
  width: 90px;
  text-align: right;
  padding-left: 25px;
  
}

.basket .menu-link::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
}

.slider {
  position: relative;
  width: 1160px;
  height: 431px;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider-btn {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-btn label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  background: #ffffff;
  border: 5px solid #ffffff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#slider-first:checked ~ .slider-btn label[for="slider-first"],
#slider-second:checked ~ .slider-btn label[for="slider-second"],
#slider-third:checked ~ .slider-btn label[for="slider-third"] { 
  background: #c1c1c1;
  
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-content {
  width: 520px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}

.slide-text {
  width: 415px;
  margin-bottom: 40px;
}

.slide-link {
  display: block;
  width: 240px;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url(../img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slide:nth-child(2) {
  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slide:nth-child(3) {
  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide {
  display: none;
}

#slider-first:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}
#slider-second:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
#slider-third:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.index-catalog {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.index-catalog-item {
  width: 300px;
  margin-right: 100px;
}

.index-catalog-image {
  margin-bottom: 30px;
}

.index-catalog-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.index-catalog-text {
  width: 260px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.index-catalog-link {
  display: block;
  width: 160px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-radius: 3px;
}

.link-red {
  background-color: #fb565a;
}

.link-green {
  background-color: #00ca74;
}

.link-yellow {
  background-color: #efc84a;
}

.index-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 80px;
}

.index-content-left {
  width: 680px;
}

.index-content-title {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.index-content-text {
  margin-top: 35px;
}

.index-list-text {
  font-weight: 700;
  text-transform: uppercase;
    margin-top: 40px;
}

.content-list-left {
  padding-left: 0;
  margin: 0; 
}

.content-list-item {
  list-style: none;
  list-style-position: outside;
  position: relative;
  padding-left: 35px;
  margin-top: 35px;
}

.content-list-item::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  top: 50%;
}

.index-content-right {
  width: 360px;
}

.index-content-image {
  margin-bottom: 40px;
}

.index-content-list {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.list-right {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 50px;
}

.content-list-right {
  width: 120px;
  margin-right: 25px;
}

.index-content-numbers {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
}

.index-content-numbers sup {
  vertical-align: -8px;
}

.index-content-text {
  line-height: 18px;
  margin-top: 30px;
  margin-bottom: 0;
}

.logo-company {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.link-company {
  position: relative;
  width: 290px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.logo-company .htmlacademy::after,
.logo-company .bordershop::after,
.logo-company .pink::after {
  position: absolute;
  top: 64px;
  right: 0;
  display: block;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #000000;
  opacity: 0.2;
}

.logo-company .htmlacademy {
  background-image: url(../img/logo-1.png);
}

.logo-company .bordershop {
  background-image: url(../img/logo-2.png);
}

.logo-company .pink {
  background-image: url(../img/logo-3.png);
}

.logo-company .mishka {
  background-image: url(../img/logo-4.png);  
}

.map {
  height: 360px;
  padding-top: 55px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  box-sizing: border-box;
  width: 320px;
  background: #ffffff;
  padding: 50px;
  margin-left: 140px;
}

.contacts-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-text {
  line-height: 18px;
  width: 210px;
  color: #666666;
  margin-top: 20px;
}

.contacts-link {
  display: block;
  width: 220px;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  margin-top: 35px;
}

.container-flex {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer-social-btn {
  display: flex;
  margin-right: 140px;
}

.social-btn {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  margin-right: 10px;
}

.social-btn-vk {
  background-image: url(../img/vk-icon.png);
}

.social-btn-fb {
  background-image: url(../img/fb-icon.png);
}

.social-btn-inst {
  background-image: url(../img/insta-icon.png);
}

.footer-social-text b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social-text p {
  color: #444444;
  margin-bottom: 0;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 115px;
  
}

.catalog-block {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.catalog-block-left {
  width: 260px;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.filter-cost {
  margin-bottom: 60px;
}

.filter-cost h2 {
  margin-bottom: 55px;
}

.range-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  background: #eeeeee;
}

.range-controls .scale {
  width: 220px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 150px;
}

.input-mark {
  width: 80px;
  height: 40px;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 3px;
  border: 0;
}

.filter-menu {
  margin-top: 30px;
}

.filter-menu h2 {
  margin-bottom: 20px;
}

.menu-mark {
  display: none;
}

.filter-menu-item {
  position: relative;
  padding-left: 35px;
  padding-bottom: 15px;
}

.menu-mark:checked + .grid::before {
  background-image: url(../img/radio-on.png);
}

.menu-mark:checked + .feature::before {
  background-image: url(../img/checkbox-on.png);
}

.grid::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  background-image: url(../img/radio-off.png);
  width: 25px;
  height: 25px;
  opacity: 0.4;
  cursor: pointer;
}

.feature::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-off.png);
  width: 27px;
  height: 23px;
  opacity: 0.4;
  cursor: pointer;
}

.filter-btn {
  width: 260px;
  background: #eeeeee;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px;
  border: 0;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.catalog-block-right {
  width: 760px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin-bottom: 55px;
}

.sort-link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.sort-control {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.filter-sort a {
  opacity: 0.3;
}

.btn-sort {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 60px;
  align-items: center; 
}

.btn-sort .down {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 10px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
}

.btn-sort .up {
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 20px;
  opacity: 0.2;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-btn {
  position: relative;
  display: flex;
  width: 360px;
  height: 40px;
  background-color: #e9e9e9;
}

.catalog-item-btn {
  position: relative;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 9px;
}

.catalog-item {
  position: relative;
  border: 1px solid #e5e5e5;
  width: 360px;
  border-radius: 3px;
  margin-bottom: 40px;
}


.catalog-info {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 360px;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.catalog-item-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-text {
  color: #666666;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-link {
  display: block;
  width: 200px;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.number-page {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.page-item {
  background-color: #eeeeee;
  border-radius: 3px;
  margin-right: 30px;
}

.page-link {
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-radius: 3px;
}

.number {
  width: 50px;
}

.next {
  width: 200px;
}

.letter form {
  box-sizing: border-box;
  width: 960px;
  padding-top: 75px;
  padding-bottom: 85px;
  padding-left: 100px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 40px 0 #000000;
}

.letter-header {
  display: flex;
  justify-content: space-between;
}

.letter-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.letter-title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 50px;
}

.letter-close {
  background-image: url(../img/close-cross.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 0.3;
}

.contact-item {
  margin-bottom: 35px;
}

.your-contact-title { 
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-item input {
  width: 326px;
  height: 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 15px;
}

.contact-item textarea {
  width: 726px;
  min-height: 116px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 15px;
}

.letter-btn {
  width: 260px;
  background: #fb565a;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}