body {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.menu-block {
  display: flex;
  justify-content: space-between;
  width: 440px;
  list-style: none;
  padding: 0;
}

.menu-item {
  position: relative;
}

.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.menu-link:hover {
  color: #fb565a;
}

.menu-link:active {
  color: #bdbdbd;
}

.main-navigation .active::after {
  position: absolute;
  bottom: -8px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #fb565a;
}

.main-navigation .active:hover .menu-link {
  color: #000000;
}

.main-navigation .active:hover .menu-link {
  color: #000000;
}

.basket {
  position: relative;
  width: 90px;
  padding-left: 25px;
  text-align: right;
}

.basket .menu-link::before {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
}

.slider {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider-btn {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 1000;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  text-align: center;
}

.slider-btn label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#slider-first:checked ~ .slider-btn label[for="slider-first"],
#slider-second:checked ~ .slider-btn label[for="slider-second"],
#slider-third:checked ~ .slider-btn label[for="slider-third"] { 
  background: #c1c1c1;
  
}

.slide {
  overflow: hidden;
}

.slide-content {
  width: 520px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}

.slide-text {
  width: 415px;
  margin-bottom: 40px;
}

.slide-link {
  display: block;
  width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.slide-link:hover {
  background-color: #e74246;
}

.slide-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.slide:nth-child(1) {
  background-image: url(../img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slide:nth-child(2) {
  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slide:nth-child(3) {
  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide {
  display: none;
}

#slider-first:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}
#slider-second:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
#slider-third:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.index-catalog {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.index-catalog-item {
  width: 300px;
  margin-right: 100px;
}

.index-catalog-image {
  margin-bottom: 30px;
}

.index-catalog-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.index-catalog-text {
  width: 260px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.index-catalog-link {
  display: block;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}

.link-red {
  background-color: #fb565a;
}

.link-red:hover {
  background-color: #e74246;
}

.link-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.link-green {
  background-color: #00ca74;
}

.link-green:hover {
  background-color: #00bc6c;
}

.link-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0px 0px #009958;
}

.link-yellow {
  background-color: #efc84a;
}
  
.link-yellow:hover {
  background-color: #eab534;
}

.link-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0px 0px #ce961f;
}
  
.index-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid #eeeeee;
}

.index-content-left {
  width: 680px;
}

.index-content-title {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.index-content-text {
  margin-top: 35px;
}

.index-list-text {
  margin-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-list-left {
  margin: 0; 
  padding-left: 0;
}

.content-list-item {
  position: relative;
  margin-top: 35px;
  padding-left: 35px;
  list-style: none;
  list-style-position: outside;
}

.content-list-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.index-content-right {
  width: 360px;
}

.index-content-image {
  margin-bottom: 40px;
}

.index-content-list {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.list-right {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 50px;
}

.content-list-right {
  width: 120px;
  margin-right: 25px;
}

.index-content-numbers {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
}

.index-content-numbers sup {
  vertical-align: -8px;
}

.index-content-text {
  line-height: 18px;
  margin-top: 30px;
  margin-bottom: 0;
}

.logo-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.link-company {
  position: relative;
  width: 290px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-company .htmlacademy:after,
.logo-company .bordershop:after,
.logo-company .pink:after {
  position: absolute;
  top: 64px;
  right: 0;
  display: block;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.logo-company .htmlacademy {
  background-image: url(../img/logo-1.png);
}

.logo-company .htmlacademy:hover {
  background-image: url(../img/logo-12.png);
}

.logo-company .htmlacademy:active {
  background-image: url(../img/logo-11.png);
}

.logo-company .bordershop {
  background-image: url(../img/logo-2.png);
}

.logo-company .bordershop:hover {
  background-image: url(../img/logo-22.png);
}

.logo-company .bordershop:active {
  background-image: url(../img/logo-21.png);
}

.logo-company .pink {
  background-image: url(../img/logo-3.png);
}

.logo-company .pink:hover {
  background-image: url(../img/logo-32.png);
}

.logo-company .pink:active {
  background-image: url(../img/logo-31.png);
}

.logo-company .mishka {
  background-image: url(../img/logo-4.png);  
}

.logo-company .mishka:hover {
  background-image: url(../img/logo-42.png);
}

.logo-company .mishka:active {
  background-image: url(../img/logo-41.png);
}

.map {
  position: relative;
  height: 415px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  position: absolute;
  top: 53px;
  z-index: 999;
  box-sizing: border-box;
  width: 320px;
  margin-left: 140px;
  padding: 50px;
  background: #ffffff;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-text {
  width: 210px;
  margin-top: 20px;
  line-height: 18px;
  color: #666666;
}

.contacts-link {
  display: block;
  width: 220px;
  margin-top: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.contacts-link:hover {
  background-color: #e74246;
}

.contacts-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.container-flex {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-social-btn {
  display: flex;
  margin-right: 140px;
}

.social-btn {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.social-btn-vk {
  background-image: url(../img/vk-icon.png);
}

.social-btn-fb {
  background-image: url(../img/fb-icon.png);
}

.social-btn-inst {
  background-image: url(../img/insta-icon.png);
}

.footer-social-text b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social-text p {
  margin-bottom: 0;
  color: #444444;
}

.catalog-title {
  margin-top: 80px;
  margin-bottom: 0;
  padding-bottom: 115px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.catalog-block {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-block-left {
  width: 260px;
}

.filter-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-cost {
  margin-bottom: 60px;
}

.filter-cost h2 {
  margin-bottom: 55px;
}

.range-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  background: #eeeeee;
  border-radius: 3px;
}

.range-controls .scale {
  width: 220px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 150px;
}

.input-mark {
  width: 80px;
  height: 38px;
  margin-left: 10px;
  text-align: center;
  background-color: #eeeeee;
  border: 0;
  border-radius: 3px;
}

.filter-menu {
  margin-top: 30px;
}

.filter-menu h2 {
  margin-bottom: 20px;
}

.menu-mark {
  display: none;
}

.filter-menu-item {
  position: relative;
  padding-left: 35px;
  padding-bottom: 15px;
}

.filter-menu-item:active {
  color: #d2d3d3;
}

.menu-mark:checked + .grid::before {
  background-image: url(../img/radio-on.png);
  background-repeat: no-repeat;
}

.menu-mark:checked + .grid:hover::before {
  background-image: url(../img/radio-on-hover.png);
}

.menu-mark:checked + .grid:active::before {
  background-image: url(../img/radio-on-active.png);
}

.menu-mark:checked + .feature::before {
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
}

.menu-mark:checked + .feature:hover::before {
  background-image: url(../img/checkbox-on-hover.png);
}

.menu-mark:checked + .feature:active::before {
  background-image: url(../img/checkbox-on-active.png);
}

.grid::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.grid:hover::before {
  background-image: url(../img/radio-off-hover.png);
}

.grid:active::before {
  background-image: url(../img/radio-off-active.png);
}

.feature::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.feature:hover::before {
  background-image: url(../img/checkbox-off-hover.png);
}

.feature:active::before {
  background-image: url(../img/checkbox-off-active.png);
}

.filter-btn {
  width: 260px;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background: #eeeeee;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.filter-btn:hover {
  background: #dfdfdf;
}

.filter-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.catalog-block-right {
  width: 760px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin-bottom: 55px;
}

.sort-control {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.sort-link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.btn-sort {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  width: 60px;
}

.btn-sort .down {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 10px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.btn-sort .up {
  position: relative;
  width: 0;
  height: 0;
  margin-left: 20px;
  border-top: 10px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active {
  opacity: 1;
}

.catalog-sort .active {
  opacity: 1;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-btn {
  display: flex;
  width: 345px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #e9e9e9;
}

.catalog-item:hover .catalog-btn {
  background-color: #4d4d4d;
  border-radius: 3px 3px 0 0;
}

.catalog-item-btn {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog-item:hover {
  box-shadow: 0px 10px 20px 5px #d5d5d5;
}

.catalog-info {
  position: absolute;
  bottom: 0;
  display: none;
  box-sizing: border-box;
  width: 360px;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item:hover .catalog-info {
  display: block;
}

.catalog-item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog-text {
  width: 240px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #666666;
  overflow-y: auto;
}

.catalog-link {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.catalog-link:hover {
  background-color: #e74246;
}

.catalog-link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.number-page {
  display: flex;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.page-item {
  margin-right: 30px;
}

.page-link {
  display: block;
  width: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.page-link:hover {
  background-color: #dfdfdf;
}

.page-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.number-page .active {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #ffffff;
  border: 3px solid #d5d5d5;
  border-radius: 3px;
}

.number-page .active:hover {
  background-color: #ffffff;
}

.number-page .active:active {
  color: #000000;
  box-shadow: none;
}

.next {
  width: 200px;
}

.letter {
  position: absolute;
  left: 15%;
  bottom: 50px;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding-top: 65px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 80px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 #000000;
}

.letter-show {
  display: block;
}

.letter-header {
  display: flex;
  justify-content: space-between;
}

.letter-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.letter-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.letter-close {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #ffffff;
  background-image: url(../img/close-cross.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.letter-close:hover {
  opacity: 1;
}

.letter-close:active {
  opacity: 0.1;
}

.contact-item {
  
}

.your-contact-title {
  margin-bottom: 10px;
  line-height: 18px;
  font-weight: 700;
}

.contact-item input {
  width: 326px;
  height: 15px;
  margin-bottom: 25px;
  padding: 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-item textarea {
  width: 726px;
  padding: 15px;
  margin-bottom: 35px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-item input:hover,
.contact-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-item input:focus,
.contact-item textarea:focus {
  border: 2px solid #000000;
}

:focus::-webkit-input-placeholder {
  color: #444444;
}

:focus::-moz-placeholder {
  color: #444444;
}

:focus:-moz-placeholder {
  color: #444444;
}

:focus:-ms-input-placeholder {
  color: #444444;
}

.contact-item input:invalid,
.contact-item textarea:invalid {
  border: 2px solid #e74246;
}

:invalid::-webkit-input-placeholder {
  color: #e74246;
}

:invalid::-moz-placeholder {
  color: #e74246;
}

:invalid:-moz-placeholder {
  color: #e74246;
}

:invalid:-ms-input-placeholder {
  color: #e74246;
}

.letter-btn {
  width: 260px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #fb565a;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.letter-btn:hover {
  background-color: #e74246;
}

.letter-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}